@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-color: #FFD4FF;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .navbar{
        list-style: none;
        display: flex;
        font-family: 'Saira', sans-serif;
        font-size: 4rem;
        gap: 6.25rem;
    }
    .navbar li a{
        color: #13101C;
        text-decoration:none;
        text-align: center;
    }
    .section-catalogo{
        width: 100%;
        height: 45.25rem;
        background-image: url(../assets/img/catalogo-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto;
    }
    /* .grid{
        outline: 4px solid white;
        width: 100%;
        height: 31.75rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
    }  */
    .newsmerch{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .section-news div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-news{
        display: flex;
        width: 100%;
        height: 42.25rem;
        background-image: url(../assets/img/news-home.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        align-content: flex-start;
        /* grid-area: news;
        grid-column: 1/2;
        grid-row:1/2 */
    }
    .section-merch{
        display: flex;
        width: 100%;
        height: 42.25rem;
        background-image: url(../assets/img/merch-home.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        align-content: flex-start;
        /* grid-column: 3/4;
        grid-row: 1/2; */
    }
    .section-merch div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer{
        background-color: #13101C;
        background-position: center;
        text-align: center;
        font-family: 'Saira', sans-serif;
        font-size: 2.25rem;
        color: #8F78E6;
        list-style: none;
    }
    .footerizq{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        padding-left: 1.875rem;
    }
    .footerder{
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        list-style: none;
        margin-top: -5.9375rem;
        padding-right: 1.875rem;
    }